body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1230px;
    margin: 0 auto;

    @media (max-width: 1280px) {
        max-width: calc(100% - 30px);
    }
}

.row {
    display: flex;
}

.col {
    &-6 {
        max-width: 50%;

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }
}