.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
}

.h1 {
  font-size: 64px;
  margin: 30px 0;

  @media (max-width: 1280px) {
    font-size: 40px;
    margin: 20px 0;
  }

  @media (max-width: 992px) {
    font-size: 32px;
  }
}

.h2 {
  font-size: 45px;
  color: $darkgrey;
  margin: 0;
  font-weight: 600;

  @media (max-width: 1280px) {
    font-size: 30px;
  }

  @media (max-width: 992px) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 36px;

  @media (max-width: 1280px) {
    font-size: 26px;
  }

  @media (max-width: 992px) {
    font-size: 18px;
  }
}

.h4 {
  font-size: 24px;

  @media (max-width: 1280px) {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    font-size: 16px;
  }
}

.center {
  text-align: center;
}

.highlight {
  color: $blue1;
}

.text {
  color: $darkgrey;
  font-size: 18px;
  line-height: 1.3;

  @media (max-width: 1280px) {
    font-size: 16px;
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.button {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  transition: opacity 0.3s;
  cursor: default;

  @media (max-width: 992px) {
    font-size: 16px;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }

  &__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 992px) {
      margin: 10px 0;
      gap: 5px;
    }
  }

  &__bold {
    font-weight: 500;
  }

  &__blue {
    &--fill {
      background-color: $blue1;
      color: white;
    }
  }

  &__white {
    &--fill {
      background-color: white;
      color: $black;
    }
  }
}

a.button {
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
