@import 'variables';
@import 'grid';
@import 'typography';
@import 'elements';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



// for test purposes
section, article {
  border-bottom: 3px solid black;
  padding-bottom: 80px;

  &:last-of-type {
    border-bottom: 0;
  }
}