@import 'variables';
@import 'grid';
@import 'typography';
@import 'elements';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}